body {
background-image: url('https://1.bp.blogspot.com/-plW4zjilgK8/Xfg1TBEGbVI/AAAAAAAAB90/P0CpiEtFyDs7cjUhkofEsagbeDK9vG71QCLcBGAsYHQ/s1600/portal%2Bgun%2Brick%2Band%2Bmorty.png');
background-size: auto, 100vh;
height: 100vh;
font-family: arial;
}

.site-title {
  text-align: center;
  color: GAINSBORO;
}

.site-subtitle {
  font-style: italic;
  color:darkgray;
  text-align:center;
}

.menu {
    background-color: RGBA(105, 105, 105, 0.4);
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  outline-style: solid;
}

a {
  color:DARKGRAY;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
